
/*VOTING APPARATUS*/

.roundrect .up { 
  border-radius: 2rem 2rem 0 0; 
}
.roundrect .down { 
  border-radius: 0 0 2rem 2rem;
}
.roundrect .count { 
  border-radius: .5rem .5rem;
}
  
.chev .up { 
  border-radius: 50% 50% 0 0; 
}

.chev .down { 
  border-radius: 0 0 50% 50%;
}

.chev .count { 
  border-radius: 100%/50%;
}

.circle .up { 
  border-radius: 10rem 10rem 0 0; 
}

.circle .down { 
  border-radius: 0 0 10rem 10rem;
}

.circle .count { 
  border-radius: 50%;
}

.vote {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 1rem auto 1rem auto;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: .3s;
  cursor: pointer;
}
.increment.up {
    background: #4BC35F;
    height: 50%;
    margin-bottom: .25rem;
  }
.increment.down {
    background: #C15044;
    height: 50%;
  }

.increment.disabled {
    opacity:1;
    height: 50%;
  }
  
.increment:hover {
    opacity: 1;    
  }

.increment.disabled:hover {
    opacity: .5;    
  }


.count {
  position: absolute;
  top: 0;
  border-radius: 1rem*.1;
  margin: 2.5rem;
  background: #F6F3E4;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
  box-shadow: 0 0 0 .5rem #F6F3E4;
  pointer-events: none;
}

.count.upvoted { 
  color: #4BC35F; 
}

.count.downvoted { 
  color: #C15044; 
}


.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}


/*END VOTING APPARATUS*/