/*
COLOR PALETTE

DARK TEAL = rgb(0,168,179)

LIGHT TEAL = rgb(65,202,192)

BLUE MESSAGE = rgb(91,192,222)

RED ALERT = rgb(217,83,79)

CTA RED = rgb(255,108,96)

ORANGE ACCENT = rgb(247,138,9)

PURPLE ACCENT = rgb(152,71,246)

~~~USE WHITE TO WRITE ON ABOVE~~~

LIGHTEST GRAY = rgb(247,247,247)
~~~USE BLACK TO WRITE ON ABOVE~~~

DARKEST GRAY = rgb(213,215,222)

BLUISH GRAY = rgb(229,232,239)

~~~USE rgb(106,106,109) TO WRITE ON ABOVE~~~
*/
.hard-to-see {
  color:rgb(213,215,222)
}

#cancel-link {
  margin-bottom: 10px;
  border: 1px solid #d43F3a;
}
.flashbar {
  margin-top:-20px;
}
.prem-star {
  color:rgb(247,138,9);
}
.purp-button {
  color:white;
  background-color: rgb(152,71,246);
  border: 1px solid rgb(152,71,246);;
}

.modal-link {
  margin-top: 10px;
  color:rgb(152,71,246);
}

.modal-links {
  margin-top: 10px;
}

.cta {
  background-color: rgb(255,108,96);
  border:1px solid rgb(255,108,96);
}

.by-lang-links{
  color:rgb(0,168,179);
  font-size: 18px;
  font-weight: 400;
}



body {
  font-family: 'Open Sans';
  /* Margin bottom by footer height */
  margin-bottom: 126px;
}

a {
  color: black;
}

a:hover, .item-head:hover {
  text-decoration:none;
  color: black;
}
html {
  position: relative;
  min-height: 100%;
}

.nav-buttons {
  margin-top:7px;
}

.navbar {
  background-color: rgb(65,202,192);
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

#nav-inbox {
  background-color: rgb(255,108,96);
  color: white;
  width: 30px;
  height: 23px;
  padding:0px 6px 2px 6px;
  border: 2px solid white;
  border-radius: 25px;
  margin-top:-2px;
  margin-bottom:0px;
}

#specifix-mark {
  height:40px;
  width:40px;
  padding: 0px;
  margin-left:0px;
  margin-top:5px;
}

.roboto-slab {
  font-family: 'Roboto Slab';
}
.black {
  color:black;
}
.open-sans {
  font-family: 'Open Sans';
}

.items-container h1, .items-container h2, .items-container h3, .items-container h4 {
  color: rgb(0,168,179)
}

.items-container{
  background-color: rgb(247,247,247);
  padding:10px 10px 10px 10px;
  margin-bottom: 0px;
  border:1px solid rgb(213,215,222);
}

/*.items-container:hover{
  background-color: rgb(229,232,239);
}*/

.item-head{
  margin-top: 0px;
  color: rgb(0,168,179);
}

.item-divide {
  margin-bottom:0px;
  border: 1px solid rgb(213,215,222);
}

.language-button {
  background-color: transparent;
  border: none;
  color:rgb(255,108,96);
}

.column-holder{
  border:3px solid rgb(213,215,222);
  border-radius: 5px
}




.score-icon {
  background-color: rgb(247,138,9);
  color: white;
  height: 23px;
  padding:0px 6px 2px 6px;
  border: 1px solid transparent;
  border-radius: 25px;
  margin-top:-2px;
  margin-bottom:0px;
}

.control-label{
  font-size: 20px;
}

.form-sub {
  color:rgb(150,150,150);
  font-style: italic;
}

.lang-check {
  margin-right:10px;
}


/*VOTING APPARATUS*/

.roundrect .up { 
  border-radius: 2rem 2rem 0 0; 
}
.roundrect .down { 
  border-radius: 0 0 2rem 2rem;
}
.roundrect .count { 
  border-radius: .5rem .5rem;
}
  
.chev .up { 
  border-radius: 50% 50% 0 0; 
}

.chev .down { 
  border-radius: 0 0 50% 50%;
}

.chev .count { 
  border-radius: 100%/50%;
}

.circle .up { 
  border-radius: 10rem 10rem 0 0; 
}

.circle .down { 
  border-radius: 0 0 10rem 10rem;
}

.circle .count { 
  border-radius: 50%;
}
.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.vote {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 1rem auto 1rem auto;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: .3s;
  cursor: pointer;
}
.increment.up {
    background: #4BC35F;
    height: 50%;
    margin-bottom: .25rem;
  }
.increment.down {
    background: #C15044;
    height: 50%;
  }

.increment.disabled {
    opacity:1;
    height: 50%;
  }
  
.increment:hover {
    opacity: 1;    
  }

.increment.disabled:hover {
    opacity: .5;    
  }


.count {
  position: absolute;
  top: 0;
  border-radius: 1rem*.1;
  margin: 2.5rem;
  background: #F6F3E4;
  width: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
  box-shadow: 0 0 0 .5rem #F6F3E4;
  pointer-events: none;
}

.count.upvoted { 
  color: #4BC35F; 
}

.count.downvoted { 
  color: #C15044; 
}


.bump {
  animation: bump 200ms;
}

@keyframes bump {
  30% { transform: scale(1.2); }
}

/*END VOTING APPARATUS*/

/*NOTIFICATIONS PAGE*/
.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.mail-box .sm-side {
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 25%;
}
.mail-box .lg-side {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
    width: 75%;
}

.mail-box .sm-side .user-head {
    background: none repeat scroll 0 0 #00a8b3;
    border-radius: 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 10px;
}

.inbox-body {
    padding: 20px;
}

ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
ul.inbox-nav li a span.label {
    margin-top: 13px;
}

.inbox-head {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}
.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}


.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.table-inbox tr td {
    background: none repeat scroll 0 0 #f7f7f7;
}

.table-inbox tr.unread td {
    font-weight: 600;
}

.inbox_circle {
  margin-top: 6px;
}

.read .inbox_circle {
    border-radius: 100%;
    height: 10px;
    width:10px;
    border: 1px solid black;
}


.unread .inbox_circle {
    border-radius: 100%;
    height: 10px;
    width:10px;
    background-color: green
}

.view-message .text-right {
  padding-left: 0px
}
/*END NOTIFICATIONS PAGE*/

/* LANGUAGE FORM STYLING*/

div.inline form {
  display: inline;
}

/* FOOTER STYLE */
.footer {
  position: absolute;
  bottom: 0;
  margin-top: 80px;
  width: 100%;
  height: 126px;
}

.footer .container {
  background-color: rgb(65,202,192);
  color: white;
  list-style-type: none;
  min-height: 100%;
  text-align: center;
}

/* USER INDEX */

.userindex {
  height: 100%;
}

.thumbnail {
  height: 285px;
}

/*TinyMCE STYLING*/
.mce-tinymce {
  opacity: .3;
}
.mce-container {
  max-height: 450px;
}

.mce-textbox {
  max-height: 300px;
}

.mce-container-body.mce-abs-layout {
  height: 410px !important;
}

/*SUBSCRIPTION PAGE */

.subsBox {
  background-color: rgb(247,247,247);
  border: 3px solid rgb(213,215,222);
  height: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.subsBox:hover {
  background-color: rgb(229,232,239);
}

.subscriptionTitles {
  color: rgb(0,168,179);
}

.subsPrice {
  color: rgb(255,108,96);
}

/* CREATING MARGIN BTW. PAGE AND FOOTER */
.row {
  margin-bottom: 50px;
}

/* FAQ CSS */
.faq-container {
    font-size: 1.5em;
    color: rgb(106,106,109);
}

.content {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}

.faq-title {
    color: black;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.faq-subtitle {
    color: rgb(65,202,192);
    margin: 0;
    text-transform: uppercase;
}

.question {
    position: relative;
    background: rgb(229,232,239);
    margin: 0;
    padding: 10px;
    display: block;
    width:100%;
    cursor: pointer;
}

.answers {
    background: rgb(0,168,179);
    color: white;
    padding: 0px 15px;
    margin: 5px 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
  /*transitions for answers*/
    -webkit-transition: 0.7s ease;
    -moz-transition:0.7s ease;
    -o-transition:0.7s ease ;
    transition:0.7s ease;
}

.questions:checked ~ .answers{
    height: auto;
    padding: 15px;
}

.questions {
    /*hides checkboxes*/
    display: none;
}

